.sidebar-balance{
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sidebar-balance div{
    width: 100%;
    height: auto;
    text-align: center;

}
.sidebar-balance .siderbar-balance-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.sidebar-balance span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-balance .siderbar-balance-content svg{
    margin-bottom: 1em!important;
}


.scanner-left-menu {
    padding: 5px 5px 5px 18px;
    cursor: pointer;
}

 /*  .scanner-left-menu:hover li a {
    color: white;
  } */

.scanner-left-menu li a {
    display: block;
    width: 100%;
}

#import-mnemonic{
    text-transform: lowercase;
}
.components-container{
    min-height: calc(100vh - var(--footer-height) - 50px);
}

.sidebar-toggle:hover{
    background-color: white!important;
    color: var(--main-color)!important; 

}