
.ipfs-checkbox-container > div > div > div >input{
    height: 1em;
    width: 1em;
    cursor: pointer;
    margin-right: 5px;
}


.ipfs-checkbox-container > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}